<div class="container">
  <h1>List</h1>
  <ul>
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
  <%= link_to 'Create new list', new_list_path %>
</div>
